
.container{
	position: absolute;
	top: 30px;
	left: 20px;
	border: 1px solid black;
	height: 350px;
	width: 760px;
}

.bar-container{
	display: flex;
	justify-content: space-evenly;
	align-items: center;
}

#bar0{
	height: 200px;
	width: 30px;
	border: solid 1px black;
	padding: 10px;
}
#bar1{
	height: 200px;
	width: 30px;
	border: solid 1px black;
	padding: 10px;
}
#bar2{
	height: 200px;
	width: 30px;
	border: solid 1px black;
	padding: 10px;
} 

.disc{
	display: flex;
	flex-direction: column;
	z-index: 10;
	

	/* padding: 0;
	margin: 0;
	border: 1px solid gray;
	height: 26px;
	box-sizing: border-box;
	border-radius: 4px;
  z-index: 10;
  cursor: pointer;
  cursor: move; */
}

#disc0{
	background: #c3dffa;
	height: 50px;
	width: 220px;
	z-index: 10;
}
#disc1{
	background: #aeecd0;
	height: 50px;
	width: 180px;
	z-index: 10;
}
#disc2{
	background: #e48c92;
	height: 50px;
	width: 140px;
	z-index: 10;
}
#disc3{
	background: #91b7bb;
	height: 50px;
	width: 100px;
	z-index: 10;
}
#disc4{
	background: #dba2fc;
	height: 50px;
	width: 60px;
	z-index: 10;
}

button{
	float: right;
	margin-top: 26px;
	margin-right: 16px;
	padding: 2px 8px;
	height: 28px;
}

.counter{
  background-color: chartreuse;
  width: 20%;
  height: auto;
}
